.L_sub-01-01-list,
.L_sub-01-01-list * {
  box-sizing: border-box;
}
.L_sub-01-01-list {
  width: 1920px;
  height: 1537px;
  position: relative;
}
.L_sub-01-patient-list {
  width: 1920px;
  height: 1537px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.L_module-menu {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1537px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.L_module-menu-hover {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.L_frame-7 {
  padding: 104px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-705 {
  background: #e3e3e3;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 20px;
  position: relative;
}
.L_contents {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 104px;
  top: 0px;
}
.L_com-header {
  background: #ffffff;
  flex-shrink: 0;
  width: 1668px;
  height: 104px;
  position: relative;
  overflow: hidden;
}
.L_group-706 {
  position: absolute;
  inset: 0;
}
.L_btn-profile {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1442px;
  top: 26px;
}
.L_frame-691 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_img-profile {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  position: relative;
}
.L_etc-profile {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.L_frame-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_ab-admin {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_icon-24-24-arrow-down-off {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.L_frame-3182 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1350px;
  top: 40px;
}
.L_icon-24-24-setting-off {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.L_frame {
  position: absolute;
  left: 4px;
  top: 3px;
  overflow: visible;
}
.L_btn-input-category-search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 338px;
  top: 32px;
}
.L_btn-input-category {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_button-sub-2-dapth {
  background: var(--black-white-white, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  padding: 10px 26px 10px 35px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.L_frame-909 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_patient {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 63px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_icn {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.L_input-box-search {
  background: var(--black-white-white, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  padding: 10px 32px 10px 36px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.L_L1 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 249px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_icn2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.L_group-2 {
  position: absolute;
  left: 2px;
  top: 1L_7px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.L_module-patient-manage {
  background: #ffffff;
  flex-shrink: 0;
  width: 1816px;
  height: 173px;
  position: relative;
}
.L_frame-1241 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 216px;
  top: 29px;
}
.L_frame-1119 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_L2 {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(
    --headline-headline-2-semi-bold,
    600 32px/42px "Poppins",
    sans-serif
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_frame-1191 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L__84-236 {
  color: var(--link-denscolor-color-1, #2dbdef);
  text-align: left;
  font: var(
    --headline-headline-2-semi-bold,
    600 32px/42px "Poppins",
    sans-serif
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_rectangle-568 {
  background: var(--grayscale-300, #e3e3e3);
  width: 1280px;
  height: 1px;
  position: absolute;
  left: 216px;
  top: 102px;
}
.L_component-13-search-box-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 320px;
  top: 28px;
}
.L_icn3 {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.L_group-22 {
  position: absolute;
  left: 2px;
  top: 1L_7px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.L_patient-list-table {
  padding: 0px 320px 0px 216px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-1342 {
  display: flex;
  flex-direction: row;
  gap: 768px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_group-750 {
  flex-shrink: 0;
  width: 412px;
  height: 16px;
  position: static;
}
.L_frame-750 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 4px;
}
.L_L3 {
  color: var(--link-denscolor-color-1, #2dbdef);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_rectangle-569 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.L_L4 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_rectangle-570 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.L_rectangle-571 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.L_frame-1194 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_button-sub-2-dapth2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.L_frame-9092 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_L5 {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_group-753 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: static;
}
.L_ellipse-37 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 66px;
  top: 0px;
}
.L_icn-plus {
  position: absolute;
  left: 90px;
  top: 24px;
  transform: translate(-24px, -23L_64px);
  overflow: visible;
}
.L_frame-1339 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-1175 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_module-list {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  border-radius: 10px;
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-7502 {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-713 {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  padding: 0px 0px 0px 22px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.L_frame-7503 {
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_no {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/24px "Pretendard", sans-serif;
  position: relative;
  width: 37px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L_frame-7504 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.L_L6 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 88px;
  height: 22px;
}
.L_L7 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 135px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L_L8 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L_L9 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 103px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L_frame-1728 {
  padding: 0px 36px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 112px;
  height: 22px;
  position: relative;
}
.L_group-884 {
  flex-shrink: 0;
  width: 76px;
  height: 22px;
  position: static;
}
.L_L10 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 54px;
  height: 22px;
}
.L_etc-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 60px;
  top: 3px;
}
.L_etc-info-16-px {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.L_etc-info-16-px2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.L_ellipse-33 {
  background: var(--black-white-white, #ffffff);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--link-denscolor-color-1, #2dbdef);
  border-width: 1px;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.L_group-743 {
  position: absolute;
  inset: 0;
}
.L_rectangle-541 {
  background: var(--link-denscolor-color-1, #2dbdef);
  width: 1L_5px;
  height: 1L_5px;
  position: absolute;
  left: 7L_2px;
  top: 4L_2px;
}
.L_rectangle-542 {
  background: var(--link-denscolor-color-1, #2dbdef);
  width: 1L_5px;
  height: 5px;
  position: absolute;
  left: 7L_2px;
  top: 6L_7px;
}
.L_L11 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L_L12 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 140px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L_L13 {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 79px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_module-list2 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-7132 {
  padding: 0px 0px 0px 22px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-7505 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L__84236 {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: relative;
}
.L_L14 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 80px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__1984-09-05 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
.L__010-1234-5678 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 135px;
  height: 22px;
}
.L__2022-08-04 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
}
.L__2022-08-042 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 103px;
  height: 22px;
}
.L_frame-760 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_icn4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.L_frame2 {
  width: 22px;
  height: 20px;
  position: absolute;
  left: 1px;
  top: 2px;
  overflow: hidden;
}
.L_vector3 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector4 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L__2022-10-04 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
.L_L15 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
.L__4-500-000 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 140px;
  height: 22px;
}
.L_L16 {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 79px;
  height: 22px;
}
.L_rectangle-487 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-15 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector7 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector8 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group2 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-488 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-16 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-7506 {
  background: var(--subcolor-subcolor-1, #596177);
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector11 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector12 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group3 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-490 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-17 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector15 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector16 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group4 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-491 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-18 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector19 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector20 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group5 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-492 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-19 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector23 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector24 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group6 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-494 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-20 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector27 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector28 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group7 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-495 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-21 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector31 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector32 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group8 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-496 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-22 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector35 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector36 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group9 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-497 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_component-23 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_vector39 {
  border-radius: 2px;
  position: absolute;
  left: 18L_75px;
  top: 4L_63px;
  transform: translate(-15L_75px, -0L_75px);
  overflow: visible;
}
.L_vector40 {
  position: absolute;
  left: 3L_75px;
  top: 8L_96px;
  overflow: visible;
}
.L_group10 {
  position: absolute;
  left: 7L_9px;
  top: 2L_75px;
  overflow: visible;
}
.L_rectangle-498 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.L_btn-indicator {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.L_frame-752 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_icn5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
  overflow: hidden;
}
.L_group-748 {
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.L_icn6 {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.L_frame-751 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L__1 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__2 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__3 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__4 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__5 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__6 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__7 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__8 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__9 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L__10 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L_icn7 {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.L_group-7482 {
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.L_bottom {
  background: #ffffff;
  flex-shrink: 0;
  width: 1816px;
  height: 180px;
  position: relative;
}
.L_module-floating {
  width: 248px;
  height: 302px;
  position: absolute;
  left: 1528px;
  top: -174px;
}
.L_user-profile-box {
  border-radius: 20px;
  border-style: solid;
  border-color: var(--subcolor-subcolor-2, #e1f7fe);
  border-width: 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 248px;
  height: 214px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 8px 16px 0px rgba(45, 189, 239, 0L_08);
}
.L_frame-740 {
  background: var(--black-white-white, #ffffff);
  border-radius: 20px 20px 0px 0px;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-7402 {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  border-radius: 15px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_icn-24-24-24-px-off {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.L_frame3 {
  position: absolute;
  left: 2px;
  top: 2px;
  overflow: visible;
}
.L_L17 {
  color: var(--link-denscolor-color-1, #2dbdef);
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 120px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_icon-24-24-arrow-right-off {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.L_frame-1127 {
  background: var(--black-white-white, #ffffff);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame-7403 {
  background: var(--black-white-white, #ffffff);
  border-radius: 15px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame4 {
  width: 22L_4px;
  height: 18L_8px;
  position: absolute;
  left: 1px;
  top: 3px;
  overflow: hidden;
}
.L_group-737 {
  position: absolute;
  inset: 0;
}
.L_group11 {
  position: absolute;
  left: 12L_31px;
  top: 7L_11px;
  overflow: visible;
}
.L_vector50 {
  position: absolute;
  left: 2L_34px;
  top: 2L_39px;
  overflow: visible;
}
.L_vector51 {
  position: absolute;
  left: 4L_78px;
  top: 5L_15px;
  overflow: visible;
}
.L_L18 {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 120px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.L_icon-24-24-arrow-right-off2 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.L_frame-1128 {
  background: var(--black-white-white, #ffffff);
  border-radius: 0px 0px 20px 20px;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L_frame5 {
  width: 16L_5px;
  height: 16L_5px;
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: hidden;
}
.L_vector52 {
  position: absolute;
  left: 0L_75px;
  top: 0L_75px;
  overflow: visible;
}
.L_group12 {
  position: absolute;
  left: 4L_79px;
  top: 4L_48px;
  overflow: visible;
}
.L_icon-24-24-arrow-right-off3 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.L_btn-floating-close {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 188px;
  top: 242px;
}
.L_ellipse-11 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 0px rgba(42, 139, 247, 0L_2);
}
.L_line-2 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-style: solid;
  border-color: #ffffff;
  border-width: 6px 0 0 0;
  width: 22px;
  height: 0px;
  position: absolute;
  left: 27px;
  top: 25px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.L_line-3 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-style: solid;
  border-color: #ffffff;
  border-width: 6px 0 0 0;
  width: 7px;
  height: 0px;
  position: absolute;
  left: 27px;
  top: 14px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.L_group-21 {
  position: absolute;
  inset: 0;
}
.L_ellipse-112 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 0px rgba(45, 189, 239, 0L_1);
}
.L_group-736 {
  position: absolute;
  left: 46L_97px;
  top: 30px;
  transform: translate(-33L_94px, -16L_97px);
  overflow: visible;
}
.L_moudle-menu-status {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.L_module-menu-hover2 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 2393px;
  position: relative;
}
.L_frame-1131 {
  background: #ffffff;
  flex-shrink: 0;
  width: 251px;
  height: 1080px;
  position: relative;
}
.L_group-742 {
  position: absolute;
  inset: 0;
}
.L_frame-72 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 104px;
}
.L_etc-logo {
  width: 106px;
  height: 36px;
  position: absolute;
  left: 40px;
  top: 32px;
  overflow: hidden;
}
.L_group-686 {
  position: absolute;
  inset: 0;
}
.L_group13 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.L_vector58 {
  position: absolute;
  left: 48L_97px;
  top: 0px;
  overflow: visible;
}
.L_group14 {
  position: absolute;
  left: 14L_24px;
  top: 13L_22px;
  overflow: visible;
}
.L_vector63 {
  position: absolute;
  left: 73L_32px;
  top: 13L_24px;
  overflow: visible;
}
.L_vector64 {
  position: absolute;
  left: 53L_66px;
  top: 13L_23px;
  overflow: visible;
}
.L_vector65 {
  position: absolute;
  left: 63L_76px;
  top: 13L_23px;
  overflow: visible;
}
.L_vector66 {
  position: absolute;
  left: 83L_57px;
  top: 13L_24px;
  overflow: visible;
}
.L_frame-742 {
  background: #e3e3e3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.L_frame-1145 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
}
.L_component-13-search-box-32 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 320px;
  top: 133px;
}
.L_icn-ul-arrow {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.L_icn-box {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.L_group-23 {
  position: absolute;
  left: 2px;
  top: 1L_7px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.L_etc-info2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1037px;
  top: 343px;
}
.L_frame-819 {
  background: var(--black-white-white, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--subcolor-subcolor-2, #e1f7fe);
  border-width: 2px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(45, 189, 239, 0L_08);
}
