.M_main-01-default,
.M_main-01-default * {
  box-sizing: border-box;
}
.M_main-01-default {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.M_module-menu-status {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.M_module-menu-hover {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.M_sidebar {
  padding: 104px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-705 {
  background: #e3e3e3;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 20px;
  position: relative;
}
.M_contents {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_com-header {
  background: #ffffff;
  flex-shrink: 0;
  width: 1668px;
  height: 104px;
  position: relative;
  overflow: hidden;
}
.M_group-706 {
  position: absolute;
  inset: 0;
}
.M_btn-profile {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1442px;
  top: 26px;
}
.M_frame-691 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_img-profile {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  position: relative;
}
.M_etc-profile {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.M_frame-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ab-admin {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.M_icon-24-24-arrow-down-off {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.M_frame-3182 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1350px;
  top: 40px;
}
.M_icon-24-24-setting-off {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.M_frame {
  position: absolute;
  left: 4px;
  top: 3px;
  overflow: visible;
}
.M_btn-input-category-search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 338px;
  top: 32px;
}
.M_btn-input-category {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_button-sub-2-dapth {
  background: var(--black-white-white, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  padding: 10px 26px 10px 35px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.M_frame-909 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_patient {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 63px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.M_icn {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.M_input-box-search {
  background: var(--black-white-white, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  padding: 10px 32px 10px 36px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.M_M1 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 249px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.M_icn2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.M_group-2 {
  position: absolute;
  left: 2px;
  top: 1.7px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.M_admin {
  flex-shrink: 0;
  width: 1816px;
  height: 539px;
  position: static;
}
.M_group-796 {
  width: 1816px;
  height: 539px;
  position: static;
}
.M_reservation-rate {
  /* background: var(--subcolor-subcolor-3, #f2fbfe); */
  padding: 52px 320px 52px 216px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 104px;
}
.M_frame-1344 {
  flex-shrink: 0;
  width: 1268px;
  height: 62px;
  position: relative;
}
.M_frame-1119 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.M__2022-8-11-1-10-pm {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: var(--subtitle-subtlitle-4-medium, 500 14px/22px "Poppins", sans-serif);
  position: relative;
}
.M_ab-admin2 {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 700 26px/36px "Pretendard", sans-serif;
  position: relative;
}
.M_component-13-search-box-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 745px;
  top: 16px;
}
.M_icn3 {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.M_group-22 {
  position: absolute;
  left: 2px;
  top: 1.7px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.M_frame-1341 {
  background: var(--black-white-white, #ffffff);
  border-radius: 30px;
  flex-shrink: 0;
  width: 1280px;
  height: 345px;
  position: relative;
}
.M_mod-rate {
  background: var(--grayscale-200, #ededed);
  width: 615px;
  height: 20px;
  position: absolute;
  left: 613px;
  top: 186px;
}
.M_frame-1138 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 40px;
  top: 32px;
}
.M_frame-1158 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-7052 {
  display: flex;
  flex-direction: row;
  gap: 844px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-750 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_M2 {
  color: #333333;
  text-align: left;
  font: var(--subtitle-subtlitle-2-medium, 500 20px/28px "Poppins", sans-serif);
  position: relative;
}
.M_vector-24 {
  flex-shrink: 0;
  position: relative;
  transform: translate(-6.73px, -0.68px);
  overflow: visible;
}
.M_M3 {
  color: #333333;
  text-align: left;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
}
.M_rectangle-560 {
  background: linear-gradient(
    269.94deg,
    rgba(45, 189, 239, 0.1) 0%,
    rgba(106, 106, 106, 0.1) 0.009999999747378752%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 733px;
  height: 90px;
  position: absolute;
  left: 49px;
  top: 151px;
}
.M_group-749 {
  position: absolute;
  inset: 0;
}
.M_rectangle-546 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 48px;
  top: 151px;
}
.M_rectangle-549 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 166px;
  top: 151px;
}
.M_rectangle-550 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 402px;
  top: 151px;
}
.M_rectangle-557 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 284px;
  top: 151px;
}
.M_rectangle-551 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 520px;
  top: 151px;
}
.M_rectangle-558 {
  background: var(--link-denscolor-color-1, #2dbdef);
  width: 1.5px;
  height: 90px;
  position: absolute;
  left: 520px;
  top: 151px;
}
.M_rectangle-552 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 638px;
  top: 151px;
}
.M_rectangle-553 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 756px;
  top: 151px;
}
.M_rectangle-559 {
  background: var(--link-denscolor-color-2, #203f78);
  width: 1.5px;
  height: 90px;
  position: absolute;
  left: 781px;
  top: 151px;
}
.M_rectangle-554 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 874px;
  top: 151px;
}
.M_rectangle-555 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 992px;
  top: 151px;
}
.M_rectangle-556 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 1110px;
  top: 151px;
}
.M_rectangle-548 {
  background: var(--grayscale-400, #b9b9b9);
  width: 1px;
  height: 90px;
  position: absolute;
  left: 1228px;
  top: 151px;
}
.M__0 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 45px;
  top: 128px;
}
.M__1 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 164px;
  top: 128px;
}
.M__2 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 281px;
  top: 128px;
}
.M__3 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 398px;
  top: 128px;
}
.M__4 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 516px;
  top: 128px;
}
.M__5 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 634px;
  top: 128px;
}
.M__6 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 752px;
  top: 128px;
}
.M__7 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 871px;
  top: 128px;
}
.M__8 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 988px;
  top: 128px;
}
.M__9 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 1106px;
  top: 128px;
}
.M__10 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: absolute;
  left: 1223px;
  top: 128px;
}
.M_manage-patients {
  background: linear-gradient(
      90.29deg,
      rgba(255, 255, 255, 0.52) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to left, #203f78, #203f78);
  border-radius: 0px 40px 40px 0px;
  width: 420px;
  height: 20px;
  position: absolute;
  left: 371px;
  top: 186px;
}
.M_group-726 {
  position: absolute;
  left: 402px;
  top: 2px;
  overflow: visible;
}
.M_reresv-patients {
  background: linear-gradient(
      90.29deg,
      rgba(255, 255, 255, 0.31) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to left, #2dbdef, #2dbdef);
  border-radius: 0px 40px 40px 0px;
  width: 481px;
  height: 20px;
  position: absolute;
  left: 49px;
  top: 186px;
}
.M_group-725 {
  position: absolute;
  left: 463px;
  top: 2px;
  overflow: visible;
}
.M_etc-text-box-2 {
  width: 127px;
  height: 87px;
  position: absolute;
  left: 457px;
  top: 226px;
  /* box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.14); */
}
.M_frame-1168 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: -4px;
}
.M_polygon-1 {
  border-radius: 1px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.M_frame-1167 {
  margin: -8px 0 0 0;
  background: var(--subcolor-subcolor-1, #596177);
  border-radius: 15px;
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 71px;
  position: relative;
}
.M__40 {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  position: relative;
}
.M__40-span {
  color: var(--black-white-white, #ffffff);
  font: 800 20px/20px "Pretendard", sans-serif;
}
.M__40-span2 {
  color: var(--black-white-white, #ffffff);
  font: 800 12px/20px "Pretendard", sans-serif;
}
.M_M4 {
  color: var(--grayscale-200, #ededed);
  text-align: left;
  font: 700 14px/14px "Pretendard", sans-serif;
  position: relative;
}
.M_etc-text-box-1 {
  width: 127px;
  height: 87px;
  position: absolute;
  left: 714px;
  top: 226px;
  /* box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.14); */
}
.M_polygon-12 {
  border-radius: 1px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.M__40-span3 {
  color: var(--black-white-white, #ffffff);
  font: 800 20px/20px "Pretendard", sans-serif;
}
.M__40-span4 {
  color: var(--black-white-white, #ffffff);
  font: 800 12px/20px "Pretendard", sans-serif;
}
.M_frame-1171 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 1138px;
  top: 261px;
}
.M_M5 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: right;
  font: 700 14px/14px "Pretendard", sans-serif;
  position: relative;
}
.M__578-657 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: right;
  position: relative;
}
.M__578-657-span {
  color: var(--grayscale-500, #8c8c8c);
  font: 800 20px/20px "Pretendard", sans-serif;
}
.M__578-657-span2 {
  color: var(--grayscale-500, #8c8c8c);
  font: 800 12px/20px "Pretendard", sans-serif;
}
.M_frame-1173 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1772px;
  top: 104px;
}
.M_frame-1145 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
  box-shadow: 9px 0px 20px 0px rgba(0, 0, 0, 0.04);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.M_group-741 {
  position: absolute;
  inset: 0;
}
.M_rectangle-533 {
  background: var(--subcolor-subcolor-1, #596177);
  border-radius: 0px 10px 10px 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.M_icon {
  position: absolute;
  left: 6px;
  top: 6px;
  transform: translate(-32px, 0px);
  overflow: visible;
}
.M_performance-manage-detail-graph {
  background: #ffffff;
  padding: 100px 320px 0px 216px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-2936 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_module-risk-status-patient-graph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_risk-status-patients-graph {
  flex-shrink: 0;
  width: 1280px;
  height: 386px;
  position: relative;
}
.M_graph-background {
  background: #ffffff;
  padding: 28.5px 0px 28.5px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1280px;
  height: 361px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 8px 16px 0px rgba(177, 177, 177, 0.08);
}
.M_graph-background-1 {
  flex-shrink: 0;
  width: 1200px;
  height: 287px;
  position: relative;
}
.M_graph-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 287px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.M_group-13 {
  flex-shrink: 0;
  width: 23px;
  height: 12px;
  position: static;
}
.M__700 {
  color: var(--grayscale-300, #e3e3e3);
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
}
.M_group-19 {
  flex-shrink: 0;
  width: 1280px;
  height: 17px;
  position: static;
}
.M_rectangle-19 {
  background: var(--grayscale-300, #e3e3e3);
  width: 1280px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 36.57px;
}
.M__600 {
  color: var(--grayscale-300, #e3e3e3);
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: absolute;
  left: 0px;
  top: 41.57px;
  width: 23px;
}
.M_group-20 {
  flex-shrink: 0;
  width: 1280px;
  height: 17px;
  position: static;
}
.M_rectangle-192 {
  background: var(--grayscale-300, #e3e3e3);
  width: 1280px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 78.14px;
}
.M__500 {
  color: var(--grayscale-300, #e3e3e3);
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: absolute;
  left: 0px;
  top: 83.14px;
  width: 23px;
}
.M_group-14 {
  flex-shrink: 0;
  width: 1280px;
  height: 17px;
  position: static;
}
.M_rectangle-193 {
  background: var(--grayscale-300, #e3e3e3);
  width: 1280px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 119.71px;
}
.M__400 {
  color: var(--grayscale-300, #e3e3e3);
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: absolute;
  left: 0px;
  top: 124.71px;
}
.M_group-17 {
  flex-shrink: 0;
  width: 1280px;
  height: 17px;
  position: static;
}
.M_rectangle-194 {
  background: var(--grayscale-300, #e3e3e3);
  width: 1280px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 161.29px;
}
.M__300 {
  color: var(--grayscale-300, #e3e3e3);
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: absolute;
  left: 0px;
  top: 166.29px;
}
.M_group-15 {
  flex-shrink: 0;
  width: 1280px;
  height: 17px;
  position: static;
}
.M_rectangle-195 {
  background: var(--grayscale-300, #e3e3e3);
  width: 1280px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 202.86px;
}
.M__200 {
  color: var(--grayscale-300, #e3e3e3);
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: absolute;
  left: 0px;
  top: 20.86px;
}
.M_group-18 {
  flex-shrink: 0;
  width: 1280px;
  height: 17px;
  position: static;
}
.M_rectangle-196 {
  background: var(--grayscale-300, #e3e3e3);
  width: 1280px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 244.43px;
}
.M__100 {
  color: var(--grayscale-300, #e3e3e3);
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: absolute;
  left: 0px;
  top: 249.43px;
}
.M_rectangle-700 {
  background: #333333;
  flex-shrink: 0;
  width: 1280px;
  height: 1px;
  position: relative;
}
.M_lower-contents {
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-1523 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M__02 {
  color: var(--grayscale-300, #e3e3e3);
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: relative;
}
.M_frame-1521 {
  display: flex;
  flex-direction: row;
  gap: 335px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1270px;
  position: relative;
}
.M__12 {
  color: #333333;
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: relative;
}
.M__22 {
  color: #333333;
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: relative;
}
.M__32 {
  color: #333333;
  text-align: left;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: relative;
}
.M_stick-graph {
  display: flex;
  flex-direction: row;
  gap: 239px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 392px);
  top: 28.5px;
}
.M_frame-933 {
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-18 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M__642 {
  color: #415dbd;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-20 {
  background: #415dbd;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 263px;
  position: relative;
}
.M_frame-17 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M__650 {
  color: #41bff4;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-21 {
  background: #41bff4;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 268px;
  position: relative;
}
.M_frame-19 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M__368 {
  color: #54c75f;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-212 {
  background: #54c75f;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 148px;
  position: relative;
}
.M_frame-20 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M__630 {
  color: #ffc700;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-202 {
  background: #ffc700;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 261px;
  position: relative;
}
.M_frame-934 {
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M__67 {
  color: #415dbd;
  text-align: center;
  font: 700 13px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-203 {
  background: #415dbd;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 26px;
  position: relative;
}
.M__60 {
  color: #41bff4;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-213 {
  background: #41bff4;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 22px;
  position: relative;
}
.M__266 {
  color: #54c75f;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 23px;
  height: 12px;
}
.M_rectangle-214 {
  background: #54c75f;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 107px;
  position: relative;
}
.M__68 {
  color: #ffc700;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-204 {
  background: #ffc700;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 23px;
  position: relative;
}
.M_frame-937 {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M__42 {
  color: #415dbd;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-205 {
  background: #415dbd;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 16px;
  position: relative;
}
.M__43 {
  color: #41bff4;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-215 {
  background: #41bff4;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 18px;
  position: relative;
}
.M__322 {
  color: #54c75f;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-216 {
  background: #54c75f;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 15px;
  position: relative;
}
.M__35 {
  color: #ffc700;
  text-align: center;
  font: 700 12px/12px "Pretendard", sans-serif;
  position: relative;
  width: 25px;
  height: 12px;
}
.M_rectangle-206 {
  background: #ffc700;
  border-radius: 25px 25px 0px 0px;
  flex-shrink: 0;
  width: 12px;
  height: 15px;
  position: relative;
}
.M_list {
  margin: -10px 0 0 0;
  padding: 0px 353px 0px 353px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1280px;
  position: relative;
}
.M_frame-1414 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ellipse-38 {
  background: #415dbd;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.M_M6 {
  color: #333333;
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
}
.M_frame-1416 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ellipse-382 {
  background: #41bff4;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.M_frame-1415 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ellipse-383 {
  background: #54c75f;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.M_frame-1417 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ellipse-384 {
  background: #ffb800;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.M_reservation-rate-circle {
  background: #ffffff;
  flex-shrink: 0;
  width: 1816px;
  height: 456px;
  position: relative;
}
.M_frame-1157 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 216px;
  top: 80px;
}
.M_vector-26 {
  flex-shrink: 0;
  position: relative;
  transform: translate(-6.73px, -0.68px);
  overflow: visible;
}
.M_frame-1133 {
  padding: 0px 28px 0px 27px;
  display: flex;
  flex-direction: row;
  gap: 130px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 355px;
  top: 154px;
}
.M_img-graph {
  background: #ffffff;
  flex-shrink: 0;
  width: 302px;
  height: 302px;
  position: relative;
  overflow: hidden;
}
.M_group {
  position: absolute;
  inset: 0;
}
.M_M7 {
  position: absolute;
  left: 1px;
  top: 1px;
  overflow: visible;
}
.M__23 {
  position: absolute;
  left: 1.51px;
  top: 1.51px;
  overflow: visible;
}
.M__33 {
  position: absolute;
  left: 6.07px;
  top: 6.7px;
  overflow: visible;
}
.M_group-740 {
  position: absolute;
  left: 30px;
  top: 30px;
  overflow: visible;
}
.M_vector8 {
  position: absolute;
  left: 150.5px;
  top: 30.09px;
  overflow: visible;
}
.M_vector9 {
  position: absolute;
  left: 150.12px;
  top: 19.99px;
  overflow: visible;
}
.M_ellipse-32 {
  background: #ffffff;
  border-radius: 50%;
  width: 148px;
  height: 148px;
  position: absolute;
  left: 77px;
  top: 77px;
  box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.25);
}
.M_frame-1130 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 44px);
  top: calc(50% - 28px);
}
.M_M8 {
  color: #ff5f60;
  text-align: center;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
}
.M__42-4 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M__42-4-span {
  color: var(--grayscale-600, #333333);
  font: 700 32px/32px "Pretendard", sans-serif;
}
.M__42-4-span2 {
  color: var(--grayscale-600, #333333);
  font: var(--subtitle-subtlitle-2-medium, 500 20px/28px "Poppins", sans-serif);
}
.M_frame-1131 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-21 {
  background: var(--grayscale-100, #f8f8f8);
  border-radius: 10px;
  padding: 17px 36px 17px 36px;
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-927 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ellipse-3 {
  background: #ff6060;
  border-radius: 50%;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.M_M9 {
  color: #333333;
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 90px;
  height: 26px;
}
.M__41-9-361 {
  color: #333333;
  text-align: right;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 124px;
  height: 26px;
}
.M_frame-25 {
  background: var(--black-white-white, #ffffff);
  border-radius: 10px;
  padding: 17px 36px 17px 36px;
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ellipse-33 {
  background: #83dada;
  border-radius: 50%;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.M_M10 {
  color: #333333;
  text-align: left;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 90px;
  height: 26px;
}
.M__25-8-222 {
  color: #333333;
  text-align: right;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 124px;
  height: 26px;
}
.M_frame-26 {
  background: var(--black-white-white, #ffffff);
  border-radius: 10px;
  padding: 17px 36px 17px 36px;
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ellipse-34 {
  background: #446392;
  border-radius: 50%;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.M__10-7-92 {
  color: #333333;
  text-align: right;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 124px;
  height: 26px;
}
.M_frame-27 {
  background: var(--black-white-white, #ffffff);
  border-radius: 10px;
  padding: 17px 36px 17px 36px;
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_ellipse-35 {
  background: #ff7a00;
  border-radius: 50%;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.M__21-6-189 {
  color: #333333;
  text-align: right;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 124px;
  height: 26px;
}
.M_recent-check-in-patient {
  background: #ffffff;
  padding: 80px 320px 0px 216px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_vector-27 {
  flex-shrink: 0;
  position: relative;
  transform: translate(-6.73px, -0.68px);
  overflow: visible;
}
.M_frame-11712 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_module-list {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  border-radius: 10px;
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-7502 {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-713 {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  padding: 0px 0px 0px 22px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-7503 {
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_no {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/24px "Pretendard", sans-serif;
  position: relative;
  width: 37px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_frame-7504 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.M_M11 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 88px;
  height: 22px;
}
.M_M12 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 138px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_M13 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_M14 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
}
.M_M15 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_M16 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 140px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_M17 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 79px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_module-list2 {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-7132 {
  padding: 0px 0px 0px 22px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M_frame-7505 {
  background: var(--subcolor-subcolor-1, #596177);
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.M__84236 {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: relative;
}
.M_M18 {
  color: #000000;
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 80px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M__1984-09-05 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
.M__010-1234-5678 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 138px;
  height: 22px;
}
.M__2022-08-04 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
}
.M__2022-10-04 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
}
.M_M19 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
.M__4-500-000 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 140px;
  height: 22px;
}
.M_M20 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 79px;
  height: 22px;
}
.M_rectangle-487 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.M_rectangle-488 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.M_rectangle-490 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.M_rectangle-491 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.M_rectangle-492 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.M_bottom {
  background: #ffffff;
  flex-shrink: 0;
  width: 1816px;
  height: 180px;
  position: relative;
}
.M_module-floating {
  width: 248px;
  height: 302px;
  position: absolute;
  left: 1528px;
  top: -174px;
}
.M_btn-floating-plus {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 188px;
  top: 242px;
}
.M_ellipse-11 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 0px rgba(42, 139, 247, 0.2);
}
.M_line-2 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-style: solid;
  border-color: #ffffff;
  border-width: 6px 0 0 0;
  width: 22px;
  height: 0px;
  position: absolute;
  left: 27px;
  top: 25px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.M_line-3 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-style: solid;
  border-color: #ffffff;
  border-width: 6px 0 0 0;
  width: 7px;
  height: 0px;
  position: absolute;
  left: 27px;
  top: 14px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.M_group-21 {
  position: absolute;
  inset: 0;
}
.M_ellipse-112 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 0px rgba(45, 189, 239, 0.1);
}
.M_group-736 {
  position: absolute;
  left: 42px;
  top: 18px;
  transform: translate(-24px, 0px);
  overflow: visible;
}

.M_2 {
  color: #333333;
  text-align: left;
  font: var(--subtitle-subtlitle-2-medium, 500 20px/28px "Poppins", sans-serif);
  position: relative;
}
.M_3 {
  color: #333333;
  text-align: left;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
}
.M_4 {
  color: var(--grayscale-200, #ededed);
  text-align: left;
  font: 700 14px/14px "Pretendard", sans-serif;
  position: relative;
}
.M_5 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: right;
  font: 700 14px/14px "Pretendard", sans-serif;
  position: relative;
}
.M_6 {
  color: #333333;
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
}
.M_7 {
  position: absolute;
  left: 1px;
  top: 1px;
  overflow: visible;
}

.M_8 {
  color: #ff5f60;
  text-align: center;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
}
.M_9 {
  color: #333333;
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 90px;
  height: 26px;
}
.M_10 {
  color: #333333;
  text-align: left;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 90px;
  height: 26px;
}
.M_11 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 88px;
  height: 22px;
}
.M_12 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 138px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_13 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_14 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
}
.M_15 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_16 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 140px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_17 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 79px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_18 {
  color: #000000;
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 80px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.M_19 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
.M_20 {
  color: #000000;
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 79px;
  height: 22px;
}
