.menu_item {
  position: absolute;
  top: 120px;
  height: 60px;
  width: 250px;
  padding-left: 35px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu_item:hover {
  background-color: #f2fbfe;
}
.menu_itme_1 {
  position: absolute;
  top: 120px;
}
.menu_itme_2 {
  position: absolute;
  top: 180px;
}
/* .menu_itme_3 {
  position: absolute;
  top : 240px;
} */
.menu_itme_4 {
  position: absolute;
  top: 240px;
}
/* .menu_itme_5 {
  position: absolute;
  top : 360px;
} */
.menu_itme_6 {
  position: absolute;
  top: 300px;
}
.sizedBoxW10 {
  width: 10px;
}
.sizedBoxW20 {
  width: 20px;
}
.menuText {
  color: var(--grayscale-600, #333333);
  font: var(--subtitle-subtlitle-4-medium, 500 14px/22px "Poppins", sans-serif);
}

.sub-01-01-list_new,
.sub-01-01-list_new * {
  box-sizing: border-box;
}
.sub-01-01-list_new {
  width: 1920px;
  height: 1537px;
  position: relative;
}
.sub-01-patient-list_new {
  width: 1990px;
  height: 1537px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.module-menu_new {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1537px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.module-menu-hover_new {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-7_new {
  padding: 104px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-705_new {
  background: #e3e3e3;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 20px;
  position: relative;
}
.contents_new {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 104px;
  top: 0px;
}
.com-header_new {
  background: #ffffff;
  flex-shrink: 0;
  width: 1988px;
  height: 104px;
  position: relative;
  overflow: hidden;
}
.group-706_new {
  position: absolute;
  inset: 0;
}
.btn-profile_new {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1840px;
  top: 26px;
}
.frame-691_new {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.img-profile_new {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  position: relative;
}
.etc-profile_new {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-2_new {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ab-admin_new {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-24-24-arrow-down-off_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.frame-3182_new {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1515px;
  top: 40px;
}
.icon-24-24-setting-off_new {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  left: 240px;
}
.frame_new {
  position: absolute;
  left: 4px;
  top: 3px;
  overflow: visible;
}
.btn-input-category-search_new {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 338px;
  top: 32px;
}
.btn-input-category_new {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-sub-2-dapth_new {
  background: var(--black-white-white, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  padding: 10px 26px 10px 35px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-909_new {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.patient_new {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 63px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icn_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.input-box-search_new {
  background: var(--black-white-white, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  padding: 10px 32px 10px 36px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.L1_new {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 249px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icn2_new {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-2_new {
  position: absolute;
  left: 2px;
  top: 1.7px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.module-patient-manage_new {
  background: #ffffff;
  flex-shrink: 0;
  width: 1816px;
  height: 173px;
  position: relative;
}
.frame-1241_new {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 392px;
  top: 29px;
}
.frame-1119_new {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L2_new {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(
    --headline-headline-2-semi-bold,
    600 32px/42px "Poppins",
    sans-serif
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1191_new {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._84-236_new {
  color: var(--link-denscolor-color-1, #2dbdef);
  text-align: left;
  font: var(
    --headline-headline-2-semi-bold,
    600 32px/42px "Poppins",
    sans-serif
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-568_new {
  background: var(--grayscale-300, #e3e3e3);
  width: 1280px;
  height: 1px;
  position: absolute;
  left: 389px;
  top: 102px;
}
.component-13-search-box-3_new {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 320px;
  top: 28px;
}
.icn3_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.group-22_new {
  position: absolute;
  left: 2px;
  top: 1.7px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.patient-list-table_new {
  padding: 0px 320px 0px 216px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1342_new {
  display: flex;
  flex-direction: row;
  gap: 768px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: 9px;
}
.group-750_new {
  flex-shrink: 0;
  width: 412px;
  height: 16px;
  position: static;
}
.frame-750_new {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 4px;
}
.L3_new {
  color: var(--link-denscolor-color-1, #2dbdef);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-569_new {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.L4_new {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-570_new {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.rectangle-571_new {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-1194_new {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-sub-2-dapth2_new {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-9092_new {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.L5_new {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-753_new {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: static;
}
.ellipse-37_new {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 66px;
  top: 0px;
}
.icn-plus_new {
  position: absolute;
  left: 90px;
  top: 24px;
  transform: translate(-24px, -23.64px);
  overflow: visible;
}
.frame-1339_new {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1175_new {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: -4px;
}
.module-list_new {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  border-radius: 10px;
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-7502_new {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-713_new {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  padding: 0px 0px 0px 22px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.frame-7503_new {
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.no_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/24px "Pretendard", sans-serif;
  position: relative;
  width: 37px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-7504_new {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.L6_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 88px;
  height: 22px;
}
.L7_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 135px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L8_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L9_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 103px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-1728_new {
  padding: 0px 36px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 112px;
  height: 22px;
  position: relative;
}
.group-884_new {
  flex-shrink: 0;
  width: 76px;
  height: 22px;
  position: static;
}
.L10_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 54px;
  height: 22px;
}
.etc-info_new {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 60px;
  top: 3px;
}
.etc-info-16-px_new {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.etc-info-16-px2_new {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse-33_new {
  background: var(--black-white-white, #ffffff);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--link-denscolor-color-1, #2dbdef);
  border-width: 1px;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-743_new {
  position: absolute;
  inset: 0;
}
.rectangle-541_new {
  background: var(--link-denscolor-color-1, #2dbdef);
  width: 1.5px;
  height: 1.5px;
  position: absolute;
  left: 7.2px;
  top: 4.2px;
}
.rectangle-542_new {
  background: var(--link-denscolor-color-1, #2dbdef);
  width: 1.5px;
  height: 5px;
  position: absolute;
  left: 7.2px;
  top: 6.7px;
}
.L11_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L12_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 140px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L13_new {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 79px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.module-list2_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-7132_new {
  padding: 0px 0px 0px 22px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-7505_new {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._84236_new {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font: 400 12px/12px "Pretendard", sans-serif;
  position: relative;
}
.L14_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 80px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1984-09-05_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
._010-1234-5678_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 135px;
  height: 22px;
}
._2022-08-04_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 106px;
  height: 22px;
}
._2022-08-042_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 103px;
  height: 22px;
}
.frame-760_new {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icn4_new {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.frame2_new {
  width: 22px;
  height: 20px;
  position: absolute;
  left: 1px;
  top: 2px;
  overflow: hidden;
}
.vector3_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector4_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
._2022-10-04_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
.L15_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 88px;
  height: 22px;
}
._4-500-000_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 140px;
  height: 22px;
}
.L16_new {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--body-body-3-regular, 400 14px/22px "Pretendard", sans-serif);
  position: relative;
  width: 79px;
  height: 22px;
}
.rectangle-487_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-15_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector7_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector8_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group2_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-488_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-16_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-7506_new {
  background: var(--subcolor-subcolor-1, #596177);
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector11_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector12_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group3_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-490_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-17_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector15_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector16_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group4_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-491_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-18_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector19_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector20_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group5_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-492_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-19_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector23_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector24_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group6_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-494_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-20_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector27_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector28_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group7_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-495_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-21_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector31_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector32_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group8_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-496_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-22_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector35_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector36_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group9_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-497_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.component-23_new {
  background: var(--black-white-white, #ffffff);
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector39_new {
  border-radius: 2px;
  position: absolute;
  left: 18.75px;
  top: 4.63px;
  transform: translate(-15.75px, -0.75px);
  overflow: visible;
}
.vector40_new {
  position: absolute;
  left: 3.75px;
  top: 8.96px;
  overflow: visible;
}
.group10_new {
  position: absolute;
  left: 7.9px;
  top: 2.75px;
  overflow: visible;
}
.rectangle-498_new {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.btn-indicator_new {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-752_new {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icn5_new {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
  overflow: hidden;
}
.group-748_new {
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icn6_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.frame-751_new {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1_new {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._3_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._4_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._5_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._6_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._7_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._8_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._9_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._10_new {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icn7_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.group-7482_new {
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.bottom_new {
  background: #ffffff;
  flex-shrink: 0;
  width: 1816px;
  height: 180px;
  position: relative;
}
.module-floating_new {
  width: 248px;
  height: 302px;
  position: absolute;
  left: 1528px;
  top: -174px;
  display: none;
}
.user-profile-box_new {
  border-radius: 20px;
  border-style: solid;
  border-color: var(--subcolor-subcolor-2, #e1f7fe);
  border-width: 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 248px;
  height: 214px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 8px 16px 0px rgba(45, 189, 239, 0.08);
}
.frame-740_new {
  background: var(--black-white-white, #ffffff);
  border-radius: 20px 20px 0px 0px;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-7402_new {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  border-radius: 15px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icn-24-24-24-px-off_new {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.frame3_new {
  position: absolute;
  left: 2px;
  top: 2px;
  overflow: visible;
}
.L17_new {
  color: var(--link-denscolor-color-1, #2dbdef);
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 120px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-24-24-arrow-right-off_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.frame-1127_new {
  background: var(--black-white-white, #ffffff);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-7403_new {
  background: var(--black-white-white, #ffffff);
  border-radius: 15px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame4_new {
  width: 22.4px;
  height: 18.8px;
  position: absolute;
  left: 1px;
  top: 3px;
  overflow: hidden;
}
.group-737_new {
  position: absolute;
  inset: 0;
}
.group11_new {
  position: absolute;
  left: 12.31px;
  top: 7.11px;
  overflow: visible;
}
.vector50_new {
  position: absolute;
  left: 2.34px;
  top: 2.39px;
  overflow: visible;
}
.vector51_new {
  position: absolute;
  left: 4.78px;
  top: 5.15px;
  overflow: visible;
}
.L18_new {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 120px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-24-24-arrow-right-off2_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.frame-1128_new {
  background: var(--black-white-white, #ffffff);
  border-radius: 0px 0px 20px 20px;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame5_new {
  width: 16.5px;
  height: 16.5px;
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: hidden;
}
.vector52_new {
  position: absolute;
  left: 0.75px;
  top: 0.75px;
  overflow: visible;
}
.group12_new {
  position: absolute;
  left: 4.79px;
  top: 4.48px;
  overflow: visible;
}
.icon-24-24-arrow-right-off3_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.btn-floating-close_new {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 188px;
  top: 242px;
}
.ellipse-11_new {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 0px rgba(42, 139, 247, 0.2);
}
.line-2_new {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-style: solid;
  border-color: #ffffff;
  border-width: 6px 0 0 0;
  width: 22px;
  height: 0px;
  position: absolute;
  left: 27px;
  top: 25px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-3_new {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-style: solid;
  border-color: #ffffff;
  border-width: 6px 0 0 0;
  width: 7px;
  height: 0px;
  position: absolute;
  left: 27px;
  top: 14px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.group-21_new {
  position: absolute;
  inset: 0;
}
.ellipse-112_new {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 0px rgba(45, 189, 239, 0.1);
}
.group-736_new {
  position: absolute;
  left: 46.97px;
  top: 30px;
  transform: translate(-33.94px, -16.97px);
  overflow: visible;
}
.moudle-menu-status_new {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.module-menu-hover2_new {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 2393px;
  position: relative;
}
.frame-1131_new {
  background: #ffffff;
  flex-shrink: 0;
  width: 251px;
  height: 1080px;
  position: relative;
}
.group-742_new {
  position: absolute;
  inset: 0;
}
.frame-72_new {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 104px;
}
.etc-logo_new {
  width: 106px;
  height: 36px;
  position: absolute;
  left: 40px;
  top: 32px;
  overflow: hidden;
}
.group-686_new {
  position: absolute;
  inset: 0;
}
.group13_new {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vector58_new {
  position: absolute;
  left: 48.97px;
  top: 0px;
  overflow: visible;
}
.group14_new {
  position: absolute;
  left: 14.24px;
  top: 13.22px;
  overflow: visible;
}
.vector63_new {
  position: absolute;
  left: 73.32px;
  top: 13.24px;
  overflow: visible;
}
.vector64_new {
  position: absolute;
  left: 53.66px;
  top: 13.23px;
  overflow: visible;
}
.vector65_new {
  position: absolute;
  left: 63.76px;
  top: 13.23px;
  overflow: visible;
}
.vector66_new {
  position: absolute;
  left: 83.57px;
  top: 13.24px;
  overflow: visible;
}
.frame-742_new {
  background: #e3e3e3;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-1145_new {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
}
.component-13-search-box-32_new {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 320px;
  top: 133px;
}
.icn-ul-arrow_new {
  flex-shrink: 0;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.icn-box_new {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-23_new {
  position: absolute;
  left: 2px;
  top: 1.7px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.etc-info2_new {
  display: none;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1037px;
  top: 343px;
}
.frame-819_new {
  background: var(--black-white-white, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--subcolor-subcolor-2, #e1f7fe);
  border-width: 2px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(45, 189, 239, 0.08);
}
