.frame-2892,
.frame-2892 * {
  box-sizing: border-box;
}
.frame-2892 {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2753 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
/* . {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 700 28px/28px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */
.line-124 {
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 370px;
  height: 0px;
  position: relative;
}
.btn {
  flex-shrink: 0;
  width: 209px;
  height: 48px;
  position: relative;
}
.u2 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--link-denscolor-color-1, #2dbdef);
  border-width: 2px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.u3 {
  color: var(--link-denscolor-color-1, #2dbdef);
  text-align: center;
  font: 700 20px/18px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.u4 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--grayscale-400, #b9b9b9);
  border-width: 2px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 48px;
  position: absolute;
  left: 109px;
  top: 0px;
}
.u5 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: 700 20px/20px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2973 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  padding: 17.5px 15.5px 17.5px 15.5px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2970 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-83 {
  background: #ff6464;
  border-radius: 50%;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.u6 {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 600 14px/14px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-30 {
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 0.5px 0 0 0;
  flex-shrink: 0;
  width: 15px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-2971 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-84 {
  background: #40c0ed;
  border-radius: 50%;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.line-31 {
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 0.5px 0 0 0;
  flex-shrink: 0;
  width: 15px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-2972 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1787 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-91 {
  background: #ffd649;
  border-radius: 50%;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.u7 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: 600 12px/12px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1788 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-92 {
  background: #ffa3a4;
  border-radius: 50%;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
