.frame-1910,
.frame-1910 * {
  box-sizing: border-box;
}
.frame-1910 {
  padding: 80px 320px 0px 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 1015px;
  position: relative;
}
.frame-1202 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1201 {
  display: flex;
  flex-direction: row;
  gap: 1076px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
/* . {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-1-medium, 500 24px/32px "Poppins", sans-serif);
  position: relative;
  width: 83px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */
.frame-1194 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 23px;
  position: relative;
}
.button-sub-2-dapth {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-909 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.b2 {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-753 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: static;
}
.ellipse-37 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 97px;
  top: -0.5px;
}
.icn {
  position: absolute;
  left: 121px;
  top: 23.5px;
  transform: translate(-24px, -23.64px);
  overflow: visible;
}
.frame-1175 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.module-list {
  background: var(--subcolor-subcolor-3, #f2fbfe);
  border-radius: 10px;
  padding: 19px 0px 19px 0px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-750 {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-7502 {
  padding: 0px 0px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.b3 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 14px/22px "Pretendard", sans-serif;
  position: relative;
  width: 138px;
  height: 22px;
}
.b4 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 92px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b5 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 68px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b6 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 90px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b7 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 104px;
  height: 22px;
}
.b8 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  width: 100px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-749 {
  padding: 0px 36px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.b9 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--subtitle-subtitle-4-bold, 700 14px/24px "Pretendard", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module-list2 {
  background: var(--black-white-white, #ffffff);
  padding: 21px 0px 21px 33px;
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-767 {
  padding: 0px 0px 0px 13px;
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-7503 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 110px;
  position: relative;
}
._2021-12-01-15-30 {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font: var(--body-body-4-light, 300 12px/18px "Poppins", sans-serif);
  position: relative;
}
._70 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 92px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._8 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 92px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._3 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 68px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._32 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 90px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 100px;
  height: 22px;
}
._6 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 100px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 68px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b10 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 68px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b11 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 64px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-498 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.frame-7504 {
  background: var(--subcolor-subcolor-1, #596177);
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 110px;
  position: relative;
}
.rectangle-495 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.frame-7505 {
  background: var(--grayscale-400, #b9b9b9);
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 110px;
  position: relative;
}
._702 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 92px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._82 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 92px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._33 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 68px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._34 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 90px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._22 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 100px;
  height: 22px;
}
._62 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 100px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._12 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 68px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b12 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 68px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-7492 {
  background: var(--black-white-white, #ffffff);
  padding: 0px 36px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.b13 {
  color: var(--grayscale-400, #b9b9b9);
  text-align: center;
  font: var(--body-body-3-light, 300 14px/22px "Poppins", sans-serif);
  position: relative;
  width: 64px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-491 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.rectangle-488 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.rectangle-492 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.moudule {
  background: var(--black-white-white, #ffffff);
  padding: 21px 0px 21px 33px;
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-490 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.rectangle-496 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.rectangle-487 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.rectangle-497 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.rectangle-494 {
  background: var(--grayscale-200, #ededed);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.module-bottom {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.btn-linebox-medium {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--grayscale-500, #8c8c8c);
  border-width: 1px;
  padding: 12px 60px 12px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 176px;
  position: relative;
  overflow: hidden;
}
.b14 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: center;
  font: var(--subtitle-subtlitle-3-medium, 500 16px/24px "Poppins", sans-serif);
  position: relative;
  width: 80px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
