.oral-hygine-status,
.oral-hygine-status * {
  box-sizing: border-box;
}
.oral-hygine-status {
  background: var(--black-white-white, #ffffff);
  padding: 80px 319px 0px 215px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2275 {
  flex-shrink: 0;
  width: 1281px;
  height: 791px;
  position: relative;
}
.frame-2106 {
  width: 1281px;
  height: 234px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-881 {
  position: absolute;
  inset: 0;
}
/* . {
  color: #000000;
  text-align: left;
  font: var(--subtitle-subtlitle-1-medium, 500 24px/32px "Poppins", sans-serif);
  position: absolute;
  left: 0px;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */
.line-19 {
  border-style: solid;
  border-color: var(--grayscale-500, #8c8c8c);
  border-width: 0.5px 0 0 0;
  width: 1280px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 54px;
}
.frame-2126 {
  width: 1279px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 221px;
}
.O2 {
  color: var(--link-denscolor-color-2, #203f78);
  text-align: left;
  font: 700 14px/14px "Pretendard", sans-serif;
  position: absolute;
  left: 616px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.O3 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: 400 14px/14px "Pretendard", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.O4 {
  color: var(--grayscale-500, #8c8c8c);
  text-align: left;
  font: 400 14px/14px "Pretendard", sans-serif;
  position: absolute;
  left: 1254px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2098 {
  width: 1280px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 188px;
}
.rectangle-735 {
  background: var(--grayscale-300, #e3e3e3);
  border-radius: 100px;
  width: 1200px;
  height: 8px;
  position: absolute;
  left: 80px;
  top: 6px;
}
.rectangle-798 {
  background: var(
    --link-denscolor-gradationcolor-1,
    linear-gradient(90deg, rgba(45, 189, 239, 1) 0%, rgba(31, 59, 117, 1) 100%)
  );
  border-radius: 100px;
  width: 651px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse-93 {
  background: var(--black-white-white, #ffffff);
  border-radius: 50%;
  border-style: solid;
  border-color: #203f78;
  border-width: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 631px;
  top: 0px;
}
.frame-2084 {
  width: 143px;
  height: 43px;
  position: absolute;
  left: 569px;
  top: 136px;
}
.polygon-1 {
  border-radius: 1px;
  position: absolute;
  left: 78px;
  top: 42px;
  transform: translate(-11.4px, -9.75px);
  overflow: visible;
}
.frame-1709 {
  background: var(--subcolor-subcolor-1, #596177);
  border-radius: 7px;
  padding: 9px 16px 9px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-965 {
  position: absolute;
  inset: 0;
}
.group-956 {
  width: 1209.23px;
  height: 524px;
  position: static;
}
.rectangle-762 {
  width: 388.52px;
  height: 250.8px;
  position: absolute;
  left: 423.91px;
  top: 540.2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.rectangle-759 {
  width: 388.52px;
  height: 251.92px;
  position: absolute;
  left: 423.91px;
  top: 267px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.rectangle-771 {
  width: 389.64px;
  height: 251.92px;
  position: absolute;
  left: 834.82px;
  top: 267px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.rectangle-772 {
  width: 388.52px;
  height: 251.92px;
  position: absolute;
  left: 1244.62px;
  top: 267px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.rectangle-769 {
  width: 389.64px;
  height: 250.8px;
  position: absolute;
  left: 834.82px;
  top: 540.2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.rectangle-770 {
  width: 388.52px;
  height: 250.8px;
  position: absolute;
  left: 1244.62px;
  top: 540.2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2105 {
  flex-shrink: 0;
  width: 303px;
  height: 36px;
  position: relative;
}
.O5 {
  padding: 14px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 105.5px;
  top: 0px;
}
.rectangle-858 {
  background: var(--link-denscolor-color-1, #2dbdef);
  border-radius: 100px;
  flex-shrink: 0;
  width: 39px;
  height: 10px;
  position: relative;
}
.frame-2085 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-100 {
  background: var(--grayscale-300, #e3e3e3);
  border-radius: 50%;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.ellipse-97 {
  background: var(--grayscale-300, #e3e3e3);
  border-radius: 50%;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.ellipse-99 {
  background: var(--grayscale-300, #e3e3e3);
  border-radius: 50%;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
