._04,
._04 * {
  box-sizing: border-box;
}
._04 {
  background: var(--black-white-white, #ffffff);
  padding: 80px 320px 1px 216px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1341 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-832 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1280px;
  position: relative;
}
/* . {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-1-medium, 500 24px/32px "Poppins", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */
.n2 {
  color: var(--link-denscolor-color-1, #2dbdef);
  text-align: right;
  font: 700 16px/16px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rectangle-616 {
  background: var(--grayscale-300, #e3e3e3);
  flex-shrink: 0;
  width: 1280px;
  height: 1px;
  position: relative;
}
.frame-2664 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2663 {
  display: flex;
  flex-direction: row;
  gap: 760px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.n3 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: 700 20px/20px "Pretendard", sans-serif;
  position: relative;
}
.frame-2994 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1285 {
  display: flex;
  flex-direction: row;
  gap: 74px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1283 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1231 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-696 {
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.upper-right {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-4-medium, 500 14px/22px "Poppins", sans-serif);
  position: relative;
}
.rectangle-434 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.frame-694 {
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.n4 {
  background: var(--grayscale-100, #f8f8f8);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-699 {
  background: var(--grayscale-100, #f8f8f8);
  padding: 9px 4px 9px 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._18 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.rectangle-436 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-700 {
  background: var(--grayscale-100, #f8f8f8);
  padding: 9px 4px 9px 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._17 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.rectangle-439 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-701 {
  background: var(--grayscale-100, #f8f8f8);
  padding: 9px 4px 9px 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._16 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.rectangle-437 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-702 {
  background: var(--grayscale-100, #f8f8f8);
  padding: 9px 4px 9px 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._15 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.rectangle-435 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-703 {
  background: var(--grayscale-100, #f8f8f8);
  padding: 9px 4px 9px 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._14 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.rectangle-440 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-704 {
  background: var(--grayscale-100, #f8f8f8);
  padding: 9px 4px 9px 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._13 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.rectangle-438 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-705 {
  background: var(--grayscale-100, #f8f8f8);
  padding: 9px 4px 9px 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._12 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.rectangle-4342 {
  background: var(--grayscale-300, #e3e3e3);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.frame-706 {
  background: var(--grayscale-100, #f8f8f8);
  padding: 9px 4px 9px 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._11 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.frame-1239 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.lower-left {
  color: var(--grayscale-600, #333333);
  text-align: left;
  font: var(--subtitle-subtlitle-4-medium, 500 14px/22px "Poppins", sans-serif);
  position: relative;
}
.frame-697 {
  border-style: solid;
  border-color: var(--grayscale-300, #e3e3e3);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._21 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._22 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._23 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._24 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._25 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._26 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._27 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._28 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.frame-1287 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1232 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._55 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._54 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._53 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._52 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._51 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.frame-1236 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._61 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._62 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._63 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._64 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._65 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.frame-1289 {
  display: flex;
  flex-direction: row;
  gap: 74px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._48 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._47 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._46 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._45 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._44 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._43 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._42 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._41 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
.frame-1235 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._31 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._32 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._33 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._34 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._35 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._36 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._37 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
._38 {
  color: var(--grayscale-600, #333333);
  text-align: center;
  font: var(--body-body-2-light, 300 16px/26px "Poppins", sans-serif);
  position: relative;
  width: 36px;
  height: 26px;
}
